html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}
.container {
	border: 1px solid #000;
	margin: 30px;
	display: flex;
	min-height: 90vh;
	/* flex-flow: row-reverse wrap; */
	/* flex-direction: row;
	flex-wrap: wrap-reverse; */
}

.item2 {
	order: 3;
}
.item3 {
	order: 1;
}
.item5 {
	order: -1;
}
/* .item {
	width: 200px;
} */
.container > * {
	border: 2px solid green;
	background-color: #ffec99;
	padding: 10px;
}
